@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

// variables

$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);
$transparent-white: hsla(0, 0%, 100%, 0.75);
$very-light-gray: hsl(0, 0%, 95%);
$font-size: 15px;

// main

*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body
{
    width: 100vw;
    height: 100vh;
    font-size: $font-size;
    font-family: 'Lexend Deca', sans-serif;
    #root
    {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// columns

.column
{
    width: 20rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 2.5rem;
    padding: 2.5rem 2rem;
    color: white;
    button
    {
        background-color: white;
        border-radius: 20px;
        padding: 1rem;
        outline: none;
        border: none;
        font-weight: 700;
    }
    
}
.column:nth-child(1)
{
    background-color: $bright-orange;
    button
    {
        color: $bright-orange;
    }
}
.column:nth-child(2)
{
    background-color: $dark-cyan;
    button 
    {
        color: $dark-cyan;
    }
}
.column:nth-child(3)
{
    background-color: $very-dark-cyan;
    button
    {
        color: $very-dark-cyan;
    }
}
@media only screen and (max-width: 600px)
{
    #root
    {
        flex-direction: column;
        justify-content: flex-start !important;
    }
}